html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    font-size: 62,5%;
    background-color: #343434;
    color: #fff;
    transition: all 0.5s;
}

.container {
    text-align: center;
    max-width: 50%;
    margin: 0 auto;
}

.accordion {
    padding: 1rem 1rem 0.5rem 1rem;
    margin-top: 1rem;
    background: #252525;
    border-radius: 1rem;
    box-shadow: 0.3rem 0.3rem 1rem 0.1rem rgb(117 76 254 / 10%);
    transition: all 0.5s;
}

.mem-name {
    color: #252525;
    transition: all 0.5s;
}

.accordion-item {
    margin-bottom: 0.5rem;
}

.accordion-item__img {
    /* width: 0;
    height: 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;
    background: #754cfe58;
    border-radius: 0.5rem;
    transition: all 0.5s;
}

img {
    width: 0;
    height: 0;
    transition: all 0.5s;
    border-radius: 1rem;
}


.accordion-item__input {
}

.accordion-item__header {
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(127.04deg, #FF68C0 9.06%, #774CFE 97.79%);
    padding: 0.5rem 0.5rem;
}

.icon {
    opacity: 0;
    background-image: url('/cssBayan/cssBayan/assets/icons/arrow.svg');
    background-repeat: no-repeat; 
    background-position: center center;
    width: 1rem; 
    height: 1rem;
    background-size: 1rem 1rem;
    transition: all 0.5s;
}

.accordion-item__input:checked ~ label .icon, 
.accordion-item:hover .icon{
    transform: rotate(45deg);
}

.accordion-item:hover .icon,
.accordion:hover .icon {
    opacity: 1;
}

.accordion:hover .mem-name{
    color: white;
}

.accordion-item__input:checked ~ label .mem-name {
    color: white;
}

/* .accordion-item__input:checked ~ label .accordion{
    color: white;
} */


.accordion-item__input:checked ~ label img,
.accordion-item:hover img {
    margin-top: 1rem;
    width: 50%;
    height: 50%;
    padding: 1rem 1rem;
}

.mem-name {
    font-size: 1.2rem;
    font-weight: 700;
}



